
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile id="left-sidebar">
    <img src="assets/NMD_Pharma.png">
  </mat-grid-tile>
  <mat-grid-tile id="main-content" colspan="2">
    <!-- Main Content -->
    <div  class="navbar">
      <a mat-button [routerLink]="'/'"><mat-icon>home</mat-icon> Home</a>
      <a mat-button [routerLink]="'/'"><mat-icon>group</mat-icon>Trustees</a>
      <a mat-button [routerLink]="'/'"><mat-icon>person</mat-icon>Professionals</a>
      <a mat-button [routerLink]="'/'"><mat-icon>more_horiz</mat-icon>More</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile id="right-sidebar">
    <!-- Right Sidebar-->
    <mat-icon  class="search">search</mat-icon>
  <button mat-raised-button  color="accent">
    <mat-icon>email</mat-icon>
    invite
</button>
  </mat-grid-tile>
</mat-grid-list>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
