<div class="flex-container">
  <div class="flex-item-left">
    <!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
<mat-card class="example-card">
  <img mat-card-image src="../../../assets/John-Smith-engraving.webp" alt="" class="imageborder">
  <mat-card-header>
  <div mat-card-avatar class="avatarImage"></div>
  <mat-card-title>John Smith</mat-card-title>
  <mat-card-subtitle>CFA , CIC</mat-card-subtitle>
  <mat-card-subtitle>Premimum member</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  <h3>insureance Agent , Attorney , Accounttant</h3>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
  <mat-card-actions>
<mat-icon color="accent">email</mat-icon><h2 color="accent">Send an Email</h2>
  </mat-card-actions>
  </mat-card>

  </div>
  <div class="flex-item-right">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Business Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
<mat-grid-list cols="4" rowHeight="110px">
  <mat-grid-tile id="left-sidebar">
    <mat-icon>supervised_user_circle</mat-icon>
    <h1>Profile</h1>
  </mat-grid-tile>
  <mat-grid-tile id="right-sidebar">
    <button mat-raised-button  color="accent">
      Edit Profile
  </button>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="30px">
  <mat-grid-tile id="left-sidebar">
    <h3>Name:</h3>
  </mat-grid-tile>
  <mat-grid-tile id="right-sidebar">
    Mary , jason & Hodge of Attorney
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-tile id="left-sidebar">
    <h3>Name:</h3>
  </mat-grid-tile>
  <mat-grid-tile id="right-sidebar">
    Mary , jason & Hodge of Attorney
  </mat-grid-tile>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>

    </mat-card>

  </div>
</div>

