
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 30%;
}

.flex-item-right {
  background-color:  #f1f1f1;
  padding: 10px;
  flex: 70%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
::ng-deep.imageborder{border-radius: 25px 25px 0px 0px; }
h1{
  margin: 0%;
  font-weight: 500;
  padding: 2rem;
}

